 <div class="parentdiv">
    <form #loginForm = "ngForm" (ngSubmit)="isLogged(loginForm.value)">
    <div class="email">
        <div>
        <label for="email">Enter Email</label>
        </div>
        <input type="email" ngModel name="email">
    </div>
    <div class="password">
        <div>
            <label for="password">Enter Password</label>
        </div>
        <input type="password" ngModel name="password">
    </div>
    <div class="button"><button type="submit"  class="btn btn-primary">login</button> <button type="button" class="btn btn-success" (click)="isRegister()">Register</button></div>
    </form>
    </div>

