<!-- <div class="main-todo">
    <div class="addTodo">
        <h1 class="text">Add Todo's</h1>
        <div class="card flex justify-content-center">
             <div> <label>Task</label></div>
            <input type="text" pInputText [(ngModel)]="value" />
        </div>
        <div class="number">
            <div> <label>Days</label></div>
            <p-inputNumber [(ngModel)]="value2" mode="decimal" [showButtons]="true"
                inputId="minmax-buttons" [min]="0" [max]="100"> </p-inputNumber>
        </div>
        <div class="card flex justify-content-center">
            <div> <label>Duration</label></div>
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
        </div>
        <div class="card flex justify-content-center">
            <div> <label>Description</label></div>
            <textarea pKeyFilter="int" rows="5" cols="30" pInputTextarea></textarea>
        </div>
    </div>
    <div class="todos">

    </div>

</div> -->
<app-display></app-display>